@model ProyectoEII.Models.IndexMessagesViewModel
@{
    ViewData["Title"] = "IndexMessages";
}

<h1>Buscador de mensajes</h1>
@using (Html.BeginForm("IndexMessages", "Chat"))
{
    <p>
        Usuario: @Html.TextBoxFor(x => x.Usuario)
        Mensaje: @Html.TextBoxFor(x => x.Busqueda)
    </p>
        <button type="submit">Buscar Mensaje</button>
 }
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Emisor
                </th>
                <th>
                    Receptor
                </th>
                <th>
                    Mensaje
                </th>
                <th>
                    Fecha
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.listMessage != null)
            {
                foreach (var item in Model.listMessage)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Emisor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Receptor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Message_)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.ActionLink("Ir al chat", "Chat", new { emisor = item.Emisor, receptor = item.Receptor }) |
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
