@model ProyectoEII.Models.IndexMessagesViewModel
@{
    ViewData["Title"] = "IndexMessages";
}

<h1>IndexMessages</h1>
@*<form asp-controller="Chat" asp-action="IndexMessages" method="get">
        <p>Busqueda de mensajes</p>
        <p>
            Usuario: <input type="text" name="text" value="@Model.Usuario" />
            Nombre: <input type="text" name="SearchString" value="@ViewBag.SearchString" />
            <input type="submit" value="Search" />
        </p>
    </form>*@
@using (Html.BeginForm("IndexMessages", "Chat"))
{
    <p>
        Usuario: @Html.TextBoxFor(x => x.Usuario)
        Mensaje: @Html.TextBoxFor(x => x.Busqueda)
    </p>
        <button type="submit">Enviar</button>

        @*< input type = "button"
            value = "Buscar"
            onclick = "location.href='@Url.Action("IndexMessages", "Chat", new { usuario = @Model.Usuario, SearchString = @ViewBag.SearchString })'" /> *@
 }
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Emisor
                </th>
                <th>
                    Receptor
                </th>
                <th>
                    Mensaje
                </th>
                <th>
                    Fecha
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.listMessage != null)
            {
                foreach (var item in Model.listMessage)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Emisor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Receptor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Message_)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.ActionLink("Ir al chat", "Chat", new { emisor = item.Emisor, receptor = item.Receptor }) |
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
